h3{
    font-style: italic;
    text-align: center;
}
.buttonGroup{
    padding: 20px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.sucess{
    background-color: lightblue;
    padding: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.error{
    background-color: lightcoral;
    padding: 40px;
    border-radius: 20px;
    cursor: pointer;
}